<div *ngIf="piece != null">

  <h3>{{piece.libelle}} <i class="fa fa-info-circle" [popover]="myPopover"></i> </h3>
  <popover-content #myPopover
                   [closeOnClickOutside]="true">
    <div class="container">
      <app-detail-tache></app-detail-tache>
    </div>
  </popover-content>

</div>
  <!--iframe [src]="urlSafe()" width="100%" height="800px"></iframe-->

  <!--object [data]=" urlSafe()" width="100%" height="800px" type="application/pdf">
    Aucun document trouvé
    <p>Votre navigateur ne supporte pas les pdfs. Vous pouvez le visuliser en cliquant  <a href="{{tache.urlDocument}}">ici.</a>.</p>

  </object-->
  <!--pdf-viewer src="/{{tache.urlDocument}}" width="100%" height="800px">
    Aucun document trouvé
    <p>Votre navigateur ne supporte pas les pdfs. Vous pouvez le visuliser en cliquant  <a href="{{tache.urlDocument}}">ici.</a>.</p>
    </pdf-viewer-->

 <div id="divPdf"></div>
 <app-visualiser-modification *ngIf="this.actionMetier != null"></app-visualiser-modification>

 <div *ngIf="note != null">
    <div class="card border-primary mb-3">
      <div class="card-body">
          <h5 class="card-title">Note saisie par {{getName()}} le {{note.dateCreation | date: 'dd/MM/yyyy'}}</h5>
          <table class="table table-borderless">
            <tbody>
                {{note.message}}
            </tbody>
          </table>
      </div>
    </div>
</div>