
<h3>{{tache.libelle}} - <a href="#">{{tache.context.numeroContrat}}</a> <i class="fa fa-info-circle" [popover]="myPopover"></i> </h3>

<!--iframe [src]="urlSafe()" width="100%" height="800px"></iframe-->

<!--object [data]=" urlSafe()" width="100%" height="800px" type="application/pdf">
  Aucun document trouvé
  <p>Votre navigateur ne supporte pas les pdfs. Vous pouvez le visuliser en cliquant  <a href="{{tache.urlDocument}}">ici.</a>.</p>

</object-->
<!--pdf-viewer src="/{{tache.urlDocument}}" width="100%" height="800px">
  Aucun document trouvé
  <p>Votre navigateur ne supporte pas les pdfs. Vous pouvez le visuliser en cliquant  <a href="{{tache.urlDocument}}">ici.</a>.</p>
  </pdf-viewer-->
<div id="divPdf"></div>

  <popover-content #myPopover
                   title="Détail"
                   [closeOnClickOutside]="true">
    <app-detail-tache></app-detail-tache>
  </popover-content>
