
<fieldset id="fieldsetModification">
  <legend>Modification en cours</legend>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modif of lesModifs">
        <th scope="row"><button class="btn btn-danger btn-circle fa fa-trash" type="submit" (click)="annulerModification(modif.ident)"></button></th>
        
        <div *ngIf="showDate(modif); else elseBlock"><td>{{modif.donnee}} : {{dateAvant}} -> {{dateApres}}</td></div>
        <ng-template #elseBlock><td>{{modif.donnee}} : {{modif.valeurAvant}} -> {{modif.valeurApres}}</td></ng-template>
      </tr>
    </tbody>
  </table>
</fieldset>