<div clas="row">
  <div class="col-sm-5 col-sm-offset-2">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="form-group">
        <label for="numeroContrat">Contrat</label>
        <input type="text" id="numeroContrat" class="form-control" name="numeroContrat" ngModel required [value]="currentTache.context.contrat.numero != null ? currentTache.context.contrat.numero : ''">
      </div>

      <div class="form-group">
        <label for="code">Action</label>
        <select id="code" class="form-control" name="code" [ngModel]="defaultAction">
          <option value="AVENANT">Avenant</option>
          <option value="RESILILATION">Résiliation</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dateLimite">Date limite de traitement</label>
        <input type="date" id="dateLimite" class="form-control" name="dateLimite" ngModel="{{currentDate | date:'yyyy-MM-dd'}}" useValueAsDate required>
      </div>

      <div class="form-group">
        <label for="priorite">Priorité</label>
        <select id="priorite" class="form-control" name="priorite" [ngModel]="defaultPriorite">

          <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" (value)="i">{{i}}</option>


        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Enregistrer</button>

    </form>

  </div>
</div>
