<div class="row" *ngIf="dossier != null">

  <!--button class="btn-outline-warning" (click)="showDetail=!showDetail">></button>
  <div *ngIf="showDetail" class="col-2">
    <app-detail-tache></app-detail-tache>
  </div-->

  <!-- BEGIN left screnn-->
  <div  class="col-3">
    <h4>Contrat <a href="/#">{{dossier.context.contrat.numero}} </a></h4>
    <h4>Banette : <label id="idLabelStatus" ></label> </h4>

    <div *ngIf="dossier != null">
        <h5>Pièces justificatives :     
           <button type="button" title="Demande de pièces complémentaire" class="btn btn-info btn-circle fa fa-plus" (click)="openModalLg(modalDmdeDePiece)">  </button>
        </h5>
        <div class="nav flex-column nav-pills ">
          
              <a class="nav-link" (click)="detailPiece(p,a,sp)" routerLinkActive="active" *ngFor="let p of listPieces"  [attr.id]="'link'+p.ident" #a>
                      <div class="row">
                        {{p.libelle}} 
                        <div class="col"  [attr.id]="'span'+p.ident" #sp >
                              <div *ngIf="p.motifNonConformite != null; else block"> <!-- IF-->
                                  <span class="badge badge-danger float-right">Non conforme</span>
                              </div>
                              <ng-template #block> <!-- ELSE-->
                                  <span  *ngIf="p.status == 'À vérifier'" class="badge badge-warning float-right">À vérifier</span>
                                  <span  *ngIf="p.status == 'À valider'" class="badge badge-info float-right">À valider </span>
                                  <span  *ngIf="p.status == 'Ok'" class="badge badge-success float-right">Validée</span>
                                  <span  *ngIf="p.status == 'En attente'" class="badge badge-light float-right">En attente</span>
                              </ng-template>
                        </div>
                      </div>
              </a>

          </div>
          <!-- begin  NOTE-->
          <h5>Note : 
              <button type="button" title="Demande de pièces complémentaire" class="btn btn-info btn-circle fa fa-plus" (click)="openModalSm(modalAjoutDeNote)">  </button>
          </h5>
          <div *ngFor="let note of listNotes">
              <div class="row"><span tooltip="{{note.message}}"  >{{note.nature}} de {{getNomUtilisateur(note)}}</span></div>
            </div>
            <!-- end NOTE-->

          <!-- begin  ACTION METIER-->

          <div *ngIf="listActionsMetier.length > 0 ">
              <div class="row" >
                <h5>Actions Métier : </h5>
              </div>
              <div *ngFor="let act of listActionsMetier">
                <div class="row"><span tooltip="{{act.message}}"  >{{act.libelle}}</span></div>
              </div>
          </div>  
          <!-- END  ACTION METIER-->



      <div class="row"  *ngIf="getDossierStatut() === 'À valider'">
        <input class="col-12 btn btn-success" type="button" value="Valider" (click)="valider()"/>
        <input class="col-12 btn btn-danger mt-1" type="button" value="Refuser"(click)="refuser()"/>
      </div>

    </div>
  </div>
  <!-- END left screnn-->

  <!-- begin DOCUMENT -->
    <!-- Vérification -->
    <div *ngIf="getDossierStatut() === 'À vérifier' || getDossierStatut() === 'En attente'" class="col-7">
        <app-apercu-document></app-apercu-document>
    </div>

    <!-- Validation -->
    <div  *ngIf="getDossierStatut() === 'À valider'" class="col-5">
      <app-apercu-document></app-apercu-document>
    </div>
  <!-- end DOCUMENT-->

  <div class="col" id="idContentRight">
    <app-conformite ></app-conformite>
  </div>
</div>

<!-- Begin Modal Demande de piece complémentaire-->
<ng-template #modalDmdeDePiece let-c="close" let-d="dismiss">

    <div class="modal-header" >
        <h4 class="modal-title">Demande de pièce(s)</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <angular2-multiselect [data]="piecesComplementaires"
                                [(ngModel)]="selectedItems" 
                                [settings]="dropdownSettings">
          </angular2-multiselect>
          <dir class="row float-right ">
              <button type="button" class="btn btn-outline-primary" style="margin-right: 10px" (click)="DemanderPiece()" >Enregistrer</button>
            </dir>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Annuler</button>
      </div>

</ng-template>
<!-- End Modal Demande de piece complémentaire-->

<!--Modal ajout de note -->
<ng-template #modalAjoutDeNote let-c="close" let-d="dismiss">

    <div class="modal-header" >
        <h4 class="modal-title">Ajout d'une note</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <dir class="row ">
              <textarea placeholder="Message..." #msg></textarea>
              <button type="button" class="btn btn-outline-primary" style="margin-right: 10px" (click)="AjouterNote(msg)" >Ajouter</button>
          </dir>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Annuler</button>
      </div>

</ng-template>