<div class="row">

  <!--button class="btn-outline-warning" (click)="showDetail=!showDetail">></button>
  <div *ngIf="showDetail" class="col-2">
    <app-detail-tache></app-detail-tache>
  </div-->

  <!-- BEGIN left screnn-->
  <div  class="col-3">
    <h4>Status : <label id="idLabelStatus" ></label> </h4>

    <h5>Pièces justificatives : </h5>
      <div *ngFor="let p of listPieces">
          <div class="row">
            {{p.libelle}}
            <div class="col">
              <button (click)="detailPiece(p.ident)" *ngIf="p.status == 'À vérifier'" class="btn btn-outline-warning float-right">À vérifier</button>
              <button (click)="detailPiece(p.ident)" *ngIf="p.status == 'À valider'" class="btn btn-outline-success float-right">À valider </button>
              <button (click)="detailPiece(p.ident)" *ngIf="p.status == 'Ok'" class="btn btn-success float-right">Validée</button>
            </div>
          </div>
    </div>

  <div class="row">
    <h5>Actions Métier : </h5>
  </div>
  <div *ngFor="let act of listActionsMetier">
    <div class="row">{{act.libelle}}</div>
  </div>
  </div>
  <!-- END left screnn-->

  <div class="col-6">
    <app-apercu-document></app-apercu-document>
  </div>

  <div class="col" id="idContentRight">
    <app-conformite ></app-conformite>
  </div>
</div>
