<nav class="navbar navbar-dark bg-primary">

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Qui somme nous ? <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Devenir courtier partenaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nos solutions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Actualités</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Recrutement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Espace Presse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>

  </div>

</nav>
