<div *ngIf="ifConnexion()" >
    <div id="myNav" class="overlay" >
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="#">Recherche Personne</a>
        <a href="#">Recherche Contrat</a>
        <a href="#">Recherche Sinistre</a>
        <a href="#">Nouveau devis</a>
        <a href="#">Nouveau Sinistre</a>
        <a href="#">Comptabilité technique</a>
        <a href="#">Transverse</a>
      </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-nav navbar-dark " >
    <span style="font-size:30px;cursor:pointer" (click)="openNav()"> <h2>&#9776; {{titre}} </h2></span>

  <a class="navbar-brand" *ngIf="connexionBoolean" routerLink="/gestionBO" style="margin-left: 10px;"> <i class="fa fa-home"></i>   {{userName}}</a>
  <div class="container-fluid" >
    <ul class="nav navbar-nav" *ngIf="!connexionBoolean">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/Qui sommes nous ?">Qui somme nous ? </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/Devenir-courtier-partenaire">Devenir courtier partenaire</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/Nos solutions">Nos solutions</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/Actualités">Actualités</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/Recrutement">Recrutement</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/Espace-Presse">Espace Presse</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/Contact">Contact</a>
      </li>
    </ul>
      <button *ngIf="!connexionBoolean" class="navbar-right btn btn-outline-warning my-2 my-sm-0" routerLink="/Connexion"><i class="fa fa-sign-in"></i> Se connecter</button>
    <div *ngIf="connexionBoolean"></div>

    <button  *ngIf="connexionBoolean" class="btn btn-outline-warning my-2 my-sm-0" (click)="deconnexion()"><i class="fa fa-sign-out"></i> Se déconnecter</button>
</div>
</nav>


