<fieldset id="fieldsetPermis" class="border-info">
  <legend>Informations Permis de conduire</legend>
  <div class="form-group">
    <div class="row">
      <div>
        <label for="numero">Numéro :</label>
        <input type="text" class="form-control" id="numero" maxlength="15" value="{{currentNumero}}" (onblur)="ifChangement()" #date>
      </div>
    </div> 
    <div class="row">
      <div>
        <label for="categorie">Catégorie :</label>
        <input type="text" class="form-control" id="categorie" maxlength="15" value="{{currentCategorie}}" (onblur)="ifChangement()" #date>
      </div>
    </div> 
    <div class="row">
      <div>
        <label class="control-label" for="date2delivrance">Date de délivrance :</label>
        <input type="date" class="form-control" id="date2delivrance" (onblur)="ifChangement()" #date>
      </div>    
    </div>
    <div class="row">
      <div>
        <label class="control-label" for="departement">Département :</label>
        <input type="number" class="form-control" id="departement" value="{{currentDepartement}}" (onblur)="ifChangement()" #date>
      </div>
    </div>
    <div class="row">
      <div>
        <label class="control-label" for="prefecture">Préfecture :</label>
        <input type="text" class="form-control" id="prefecture" value="{{currentPrefecture}}" (onblur)="ifChangement()" #date>
      </div>
    </div>
  </div>
</fieldset>