<div ng-app="app">
  <div class="card">
    <div class="card-header">
      Gestionnaires
    </div>
    <div class="card-body">
      <table class="table table-borderless">
        <thead>
          <th>Nom/Prénom</th>
          <th><input type="checkbox" id="allGest" [checked]="isAllGest()" name="gestionnaires" (change)="checkboxGest = !checkboxGest; returnAll()"></th>
        </thead>
        <tbody>
          <tr *ngFor="let gestionnaire of lesGestionnaires">
            <td>{{gestionnaire.nom}} {{gestionnaire.prenom}}</td>
            <td><input type="checkbox" id="{{gestionnaire.ident}}" [checked]="checkboxGest" name="gestionnaires" (change)="return()"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>