<h4> {{tache.libelle}}</h4>

<h5 style="color: lightslategray">Caractéristiques</h5>
<br>
<strong>Priorité : </strong>  {{tache.priorite}} <br>
<strong>Date de GED : </strong> {{tache.dateLimite | date : 'dd/MM/yyyy'}} <br>
<strong>Date limite : </strong> {{tache.dateLimite | date : 'dd/MM/yyyy'}} <br>
<br>
<h5 style="color: lightslategray">Contexte de rattachement</h5>

<dl>
  <dt><b>Courtier : </b></dt>
  <dd>{{tache.context.nomAppelIntermediaire}}</dd>

  <dt><b>Client :</b></dt>
  <dd>{{tache.context.nomAppelClient}}</dd>

  <dt><b>Contrat : </b></dt>
  <dd>{{tache.context.contrat.numero}}</dd>
</dl>
