


<!-- BODY -->

<div class="row">
  <div class="col-sm-12">
    <app-gestion [titre]="'Mes tâches'" [card]="'tache'"></app-gestion>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-gestion [titre]="'Mes devis à valider'" [card]="'bg-devis'"></app-gestion>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <app-gestion [titre]="'Mes Notes'" [card]="'bg-danger text-white'"></app-gestion>
  </div>

  <div class="col-sm-6">
    <app-gestion [titre]="'Mes actions récentes'" [card]="'bg-info'"></app-gestion>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <app-gestion [titre]="'Mes groupes'" [card]="'bg-warning'">Loading...</app-gestion>
  </div>
</div>

