<!-- BODY -->
<div class="accordion" id="accordion" *ngIf="ifConnexion()">

<div class="row">
  <div class="col-sm-12">
    <app-gestion [titre]="'Dossier pièces justificatives'" [card]="'contrat'"></app-gestion>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-gestion [titre]="'Actions métier'" [card]="'bg-devis'"></app-gestion>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <app-gestion [titre]="'Mes Notes'" [card]="'bg-danger text-white'"></app-gestion>
  </div>

  <div class="col-sm-6">
    <app-gestion [titre]="'Mes actions récentes'" [card]="'bg-info'"></app-gestion>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <app-gestion [titre]="'Mes groupes'" [card]="'text-white bg-groupe'">Loading...</app-gestion>
  </div>
</div>

</div>
