  <div class="card {{card}}" >


  <div class="card-header card-transparent" >
    <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapseOne' + numId"  aria-expanded="false" [attr.aria-controls]="'collapseOne'+numId">

      {{titre}}

    </button>
    <div class="float-right">
      <a *ngIf="eye" (click)="visualiser(eye)" title="Visualiser"> <i class="fa fa-eye pull-xs-right fa-lg" #eye></i></a>
      <i *ngIf="search"class="fa fa-search fa-lg" title="Recherche avancée"></i>
      <i *ngIf="share"class="fa fa-share-square-o fa-lg"></i>
      <!--i *ngIf="inbox"class="fa fa-inbox fa-lg" title="Demander une nouvelle tâche"></i-->
      <a><i *ngIf="outbox" class="fa fa-sign-in fa-lg fa-rotate-90" title="Tout remettre dans la corbeille" (click)="userCorbeille()"></i></a>  
      <a (click)="prendreTache()"><i *ngIf="take" class="fa fa-sign-out fa-lg fa-rotate-270 " title="Prendre des nouvelles taches"></i></a>      
      <i *ngIf="calendar"class="fa fa-calendar fa-lg" title="Réaffecte mes tâches"></i>
      <a (click)="nouvelleTache()"><i *ngIf="file" title="Ajouter" class="fa fa-file-o fa-lg"></i></a>
      <i *ngIf="filter" class="fa fa-filter fa-lg" title="Filter"></i>
      <i *ngIf="chart" class="fa fa-pie-chart fa-lg" title="Mes statistiques"></i>
      <i *ngIf="refresh" class="fa fa-refresh fa-lg" title="Rafraichir"></i>
    </div>
  </div>

  <div [attr.id]="'collapseOne'+numId" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      

      <!-- BEGIN CONTRAT --- BEGIN CONTRAT --- BEGIN CONTRAT --- BEGIN CONTRAT --- BEGIN CONTRAT --- BEGIN CONTRAT ---  BEGIN CONTRAT -->
      <ng-container *ngIf="dossierBoolean">
          <table-tree-contrat></table-tree-contrat>
      </ng-container>
      <!-- /END CONTRAT --- END CONTRAT --- END CONTRAT --- END CONTRAT --- END CONTRAT --- END CONTRAT --- END CONTRAT -->      

      <!--BEGIN ACTION METIER // BEGIN ACTION METIER // BEGIN ACTION METIER // BEGIN ACTION METIER // BEGIN ACTION METIER // -->
      
      <ng-container *ngIf="actionMetier">
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Priorité</th>
              <th scope="col">Libellé</th>
              <th scope="col">Date</th>
              <th scope="col">Intermédiaire</th>
              <th scope="col">Client</th>
              <th scope="col">Numéro Contrat</th>
              <th scope="col">État</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let actM of actionMetiers">
              <ng-container *ngIf="recuperMestaches(actM)">
                <th scope="row">{{actM.priorite}}</th>
                <td>{{actM.libelle}}</td>
                <td>{{actM.dateCreation| date: 'dd/MM/yyyy' }}</td>
                <td>{{actM.context.nomAppelIntermediaire}}</td>
                <td>{{actM.context.nomAppelClient}}</td>
                <td>{{actM.context.contrat.numero}}</td>
                <td>{{actM.status}}</td>
                <td> <a > <i class="fa fa-share-square-o fa-lg"  title="Traiter"></i></a></td>
              </ng-container>
            </tr>
            </tbody>
          </table>
      </ng-container>
    
      <!-- END ACTION METIER // END ACTION METIER // END ACTION METIER // END ACTION METIER // END ACTION METIER // -->

      <!-- BEGIN NOTES --- BEGIN NOTES --- BEGIN NOTES --- BEGIN NOTES --- BEGIN NOTES --- BEGIN NOTES ---  BEGIN NOTES -->
      <table *ngIf="noteBoolean" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nature</th>
          <th scope="col">Code</th>
          <th scope="col">Message</th>
          <th scope="col">Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let note of taches" [attr.id]="'tr'+note.ident">
          <ng-container *ngIf="voirNoteTerminer(note.dateCloture)">

              <th scope="row">{{note.nature}}</th>
              <td>{{note.code}}</td>
              <td>  
                  <i class="fa fa-question" placement="top" ngbTooltip="{{note.message}}"> </i>

               </td>
              <td>{{note.dateLimite | date: 'dd/MM/yyyy' }}</td>
              <td align="center">
                <a (click)="ouvrirNote(note.ident)"><i *ngIf="note.status == 'Ok'" class="fa fa-check-square-o fa-lg"  title="Re-ouvrir"></i></a>
                <a (click)="fermerNote(note.ident)"><i *ngIf="note.status != 'Ok'"class="fa fa-square-o fa-lg"  title="Fermer"></i></a>
                <a (click)="supprimerNote(note.ident)"> <i class="fa fa-trash-o fa-lg" title="Supprimer"></i></a>
              </td>
          </ng-container>

        </tr>
        </tbody>
      </table>
      <!-- /END NOTES --- /END NOTES --- /END NOTES --- /END NOTES --- /END NOTES --- /END NOTES --- /END NOTES --- /END NOTES -->

      <!-- BEGIN-GROUPE ---  BEGIN-GROUPE ---  BEGIN-GROUPE ---  BEGIN-GROUPE ---  BEGIN-GROUPE ---  BEGIN-GROUPE -->
      <ng-container *ngIf="groupeBoolean">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Groupe</th>
              <th scope="col">Profil</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let groupe of groupes">
              <ng-container *ngIf="permission(profil); else elseBlock">
                  <th scope="row"><a class="" routerLink="/GestionGroupe/{{groupe.ident}}">{{groupe.libelle}}</a></th>
              </ng-container>
              <ng-template #elseBlock>
                <th scope="row">{{groupe.libelle}}</th>
              </ng-template>
              <td>{{profil}}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <!-- END-GROUPE ---- END-GROUPE-- END-GROUPE-- END-GROUPE-- END-GROUPE-- END-GROUPE-- END-GROUPE-- END-GROUPE -->



    </div>
  </div>
  </div>


