  <div class="card {{card}}" >


  <div class="card-header card-transparent" >
    <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapseOne' + numId"  aria-expanded="false" [attr.aria-controls]="'collapseOne'+numId">

      {{titre}}

    </button>
    <div class="float-right">
      <a *ngIf="eye" (click)="visualiser(eye)" title="Visualiser"> <i class="fa fa-eye pull-xs-right fa-lg" #eye></i></a>
      <i *ngIf="search"class="fa fa-search fa-lg" title="Recherche avancée"></i>
      <i *ngIf="share"class="fa fa-share-square-o fa-lg"></i>
      <i *ngIf="inbox"class="fa fa-inbox fa-lg" title="Demander une nouvelle tâche"></i>
      <i *ngIf="calendar"class="fa fa-calendar fa-lg" title="Réaffecte mes tâches"></i>
      <a (click)="nouvelleTache()"><i *ngIf="file" title="Ajouter" class="fa fa-file-o fa-lg"></i></a>
      <i *ngIf="filter" class="fa fa-filter fa-lg" title="Filter"></i>
      <i *ngIf="chart" class="fa fa-pie-chart fa-lg" title="Mes statistiques"></i>
      <i *ngIf="refresh" class="fa fa-refresh fa-lg" title="Rafraichir"></i>
    </div>
  </div>

  <div [attr.id]="'collapseOne'+numId" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      <!-- BEGIN TACHES --- BEGIN TACHES --- BEGIN TACHES --- BEGIN TACHES --- BEGIN TACHES --- BEGIN TACHES ---  BEGIN TECHES -->

        <table *ngIf="tacheBoolean" class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Priorité</th>
            <th scope="col">Code</th>
            <th scope="col">Libellé</th>
            <th scope="col">Date</th>
            <th scope="col">Intermédiaire</th>
            <th scope="col">Client</th>
            <th scope="col">Numéro Contrat</th>
            <th scope="col">Nature</th>
            <th scope="col">État</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tache of taches">
            <ng-container *ngIf="recuperMestaches(tache)">
              <th scope="row">{{tache.priorite}}</th>
              <td>{{tache.code}}</td>
              <td>{{tache.libelle}}</td>
              <td>{{tache.dateLimite|date: 'MM/dd/yyyy' }}</td>
              <td>{{tache.context.nomAppelIntermediaire}}</td>
              <td>{{tache.context.nomAppelClient}}</td>
              <td>{{tache.context.numeroContrat}}</td>
              <td>{{tache.nature}}</td>
              <td>{{tache.status}}</td>
              <td> <a routerLink="/TraitementTache/{{tache.ident}}"> <i class="fa fa-share-square-o fa-lg"  title="Traiter"></i></a></td>
            </ng-container>
          </tr>
          </tbody>
        </table>
      <!-- /END TACHES --- END TECHES --- END TACHES --- END TACHES --- END TACHES --- END TACHES --- END TECHES -->

      <!-- BEGIN NOTES --- BEGIN NOTES --- BEGIN NOTES --- BEGIN NOTES --- BEGIN NOTES --- BEGIN NOTES ---  BEGIN NOTES -->
      <table *ngIf="noteBoolean" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nature</th>
          <th scope="col">Code</th>
          <th scope="col">Message</th>
          <th scope="col">Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let note of taches" [attr.id]="'tr'+note.ident">
          <ng-container *ngIf="voirNoteTerminer(note.dateCloture)">

              <th scope="row">{{note.nature}}</th>
              <td>{{note.code}}</td>
              <td>    <u data-toggle="tooltip" title="{{note.message}}">...</u>
              </td>
              <td>{{note.dateLimite | date: 'MM/dd/yyyy' }}</td>
              <td align="center">
                <a (click)="ouvrirNote(note.ident)"><i *ngIf="note.status == 'Ok'" class="fa fa-check-square-o fa-lg"  title="Re-ouvrir"></i></a>
                <a (click)="fermerNote(note.ident)"><i *ngIf="note.status != 'Ok'"class="fa fa-square-o fa-lg"  title="Fermer"></i></a>
                <a (click)="supprimerNote(note.ident)"> <i class="fa fa-trash-o fa-lg" title="Supprimer"></i></a>
              </td>
          </ng-container>

        </tr>
        </tbody>
      </table>
      <!-- /END NOTES --- /END NOTES --- /END NOTES --- /END NOTES --- /END NOTES --- /END NOTES --- /END NOTES --- /END NOTES -->

      <!-- BEGIN-GROUPE ---  BEGIN-GROUPE ---  BEGIN-GROUPE ---  BEGIN-GROUPE ---  BEGIN-GROUPE ---  BEGIN-GROUPE -->
      <ng-container *ngIf="groupeBoolean">
        <div class="row">
          <div class="col-sm-6">
            <canvas id="chart"></canvas>
          </div>

          <div class="col-sm-6">
             <p> <a (click)="dispatcher()"><i class="fa fa-sign-out fa-2x fa-rotate-270 "></i></a> Dispatcher les taches non affectées </p>
             <p> <a (click)="courbeille()"><i class="fa fa-sign-in fa-2x fa-rotate-90"></i></a> Tout remettre dans la corbeille </p>
          </div>
        </div>
      </ng-container>
      <!-- END-GROUPE ---- END-GROUPE-- END-GROUPE-- END-GROUPE-- END-GROUPE-- END-GROUPE-- END-GROUPE-- END-GROUPE -->

    </div>
  </div>
  </div>



