a{
    cursor: pointer;
    text-decoration: none;
  }
  u {
    cursor: help;
  }
  
  div{
    font-size: 14px;
  }
  div.tache {
    background-color: rgba(0,0,0,0.1);
  }
  
  div.card-header{
    font-size: 15px;
    background-color: rgba(0,0,0,0.4);
    color:white;
  }
  button{
    color: white;
  }
  
  div.bg-devis {
    font-size: 15px;
    background-color: rgba(0,255,0,0.4);
  }
  div.bg-groupe{
    background-color: #F9966B;
  }
  .del {
    text-decoration: line-through;
    color: silver;
  }
  