<table class="table table-striped">
     <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Numero</th>
            <th scope="col">Nom client</th>
            <th scope="col">Nom intermédiaire</th>
            <th scope="col">État</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contrat of contrats">
            <th scope="row"><i class="fa fa-plus fa-lg" (click)="toggleChildren(contrat)"></i></th>
            <td>
              {{contrat.numero}}
                <div *ngFor="let folder of folderClass">
                    <table class="table table-striped mt-2" *ngIf="folder.bool && folder.id == contrat.ident ">
                      <thead>
                        <tr>
                          <th scope="col">Priorité</th>
                          <th scope="col">Code</th>
                          <th scope="col">Statut</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let tache of contrat.listeTaches">
                          <th scope="row">{{tache.priorite}}</th>
                          <td>{{tache.code}}</td>
                          <td>{{tache.status}}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </td>
            <td>{{contrat.nomAppelClient}}</td>
            <td>{{contrat.nomAppelIntermediaire}}</td>
            <td>{{contrat.etatContrat}}</td>
            <td> <a routerLink="/TraitementTache/{{contrat.idContext}}"> <i class="fa fa-share-square-o fa-lg"  title="Traiter"></i></a></td>
        </tr>     
    </tbody>    
</table>

