<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Numero</th>
      <th scope="col">Nom client</th>
      <th scope="col">Nom intermédiaire</th>
      <th scope="col">Statut</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let dossier of dossierAffichage">
      <tr>
        <th scope="row"><a (click)="toggleChildren(dossier.ident)"><i class="fa fa-plus fa-lg"></i></a></th>
        <td>{{dossier.numContrat}}</td>        
        <td>{{dossier.nomClient}}</td>
        <td>{{dossier.nomIntermediaire}}</td>
        <td>{{dossier.status}}</td>
        <td> 
          <a (click)="traiterPieces(dossier.ident)"> <i class="fa fa-share-square-o fa-lg"  title="Traiter"></i></a>
          <a (click)="openModal(HistoriqueModal, dossier.ident)"> <i class="	fa fa-history fa-lg"  title="Historique"></i></a>
        </td>
      </tr> 
      <ng-container *ngFor="let dp of dossierPieces">
        <ng-container class="table table-striped mt-5" *ngIf="dp.bool && dp.dossier == dossier.ident">
          <tr>
            <th colspan="1"></th>
            <th colspan="1">Priorité</th>
            <th colspan="1">Libellé</th>
            <th colspan="1">Statut</th>
          </tr>
          <tr *ngFor="let piece of dp.pieces">
            <th colspan="1"></th>
            <td colspan="1">{{piece.priorite}}</td>
            <td colspan="1">{{piece.libelle}}</td>
            <td colspan="1">{{piece.status}}</td>
          </tr>
        </ng-container>
      </ng-container> 
    </ng-container>
  </tbody>    
</table>

<!-- The Modal HISTORIQUE -->
<ng-template #HistoriqueModal>
  <div id="info" style="border: 1px solid gainsboro;">
    <h3 class="row justify-content-center">Statut du dossier : {{dossierStatut}}</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Utilisateur</th>
          <th scope="col">Pièce</th>
          <th scope="col">Action</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">DOSSIER EN ATTENTE</td>
        </tr>
        <ng-container *ngFor="let piece of lesPieces">
          <tr>
            <th scope="row"> / </th>
            <td>{{piece.libelle}}</td>
            <td>Reception de la pièce</td>
            <td>{{piece.dateReception.toLocaleString()}}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="dossierStatut == 'À vérifier' || dossierStatut == 'À valider' || dossierStatut == 'Ok'">
          <tr>
            <td colspan="4">DOSSIER À VÉRIFIER</td>
          </tr>
          <ng-container *ngFor="let piece of lesPieces">
            <tr *ngIf="piece.status == 'À valider' || piece.status == 'Ok'">
              <th scope="row">{{getName(piece.idUtilisateurVerification)}}</th>
              <td>{{piece.libelle}}</td>
              <td>Vérification de la pièce</td>
              <td>{{piece.dateVerification.toLocaleString()}}</td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="dossierStatut == 'À valider' || dossierStatut == 'Ok'">
          <tr>
            <td colspan="4">DOSSIER À VALIDER</td>
          </tr>
          <ng-container *ngFor="let piece of lesPieces">
            <tr *ngIf="piece.status == 'Ok'">
              <th scope="row">{{getName(piece.idUtilisateurCloture)}}</th>
              <td>{{piece.libelle}}</td>
              <td>Validation de la pièce</td>
              <td>{{piece.dateCloture.toLocaleString()}}</td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="dossierStatut == 'Ok'">
          <tr>
            <td colspan="4">DOSSIER VALIDÉ</td>
          </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="closeModal()">OK</button>
  </div>
</ng-template>

