<h2>Informations Conducteur</h2>

<div class="form-group">
  <div class="row">
    <div class="col-5">
      <label for="numero">Numéro :</label>
      <input type="text" class="form-control" id="numero" maxlength="15" value="P012345678">
    </div>
    <div class="col-3">
      <label class="control-label" for="crm">CRM :</label>
      <input type="number" class="form-control" step="0.01" min="0.5" max="1" id="crm" value="{{currentCRM}}" #crm>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <label class="control-label" for="categorie">Catégorie :</label>
      <input type="text" class="form-control" id="categorie" value="B">
    </div>
    <div class="col-7">

      <div class="row">
      <div  class="col-md-4">
        <label for="resp100">Resp. 100%</label>
        <input type="number" class="form-control" step="1" min="0" max="100" id="resp100" value="0">
      </div>
      <div  class="col-md-4">
        <label for="resp50">Resp. 50%</label>
        <input type="number" class="form-control" step="1" min="0" max="100" id="resp50" value="0">
      </div>
      <div  class="col-md-4">
        <label for="resp0">Resp. 0%</label>
        <input type="number" class="form-control" step="1" min="0" max="100" id="resp0" value="0">
      </div>
    </div>

    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <label class="control-label" for="date2delivrance">Date de délivrance :</label>
      <input type="date" class="form-control" id="date2delivrance" value="{{currentDate2delivrance}}" #date2delivrance>
    </div>
    <div class="col-md-7" >
      <div class="row">
        <div  class="col-md-6" >
          <label class="control-label" for="crm">Vol et incendie :</label>
          <input type="number" class="form-control" step="0.01" min="0" max="100" id="vei" value="0">
        </div>
        <div  class="col-md-6">
          <label class="control-label" for="crm">Bris de glace :</label>
          <input type="number" class="form-control" step="0.01" min="0" max="100" id="bdg" value="0">
        </div>
    </div>
  </div>

  </div>
  <div class="row">
    <div class="col-5">
      <label class="control-label" for="departement">Département :</label>
      <input type="number" class="form-control" id="departement" value="34">
    </div>
    <div class="col-7">

    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label class="control-label" for="prefecture">Préfecture :</label>
      <input type="text" class="form-control" id="prefecture" value="HERAULT">
    </div>
  </div>
</div>

<h2>Informations Véhicule</h2>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="marque">Marque :</label>
        <input type="text" class="form-control" id="marque" value="BMW">
      </div>
      <div class="col-sm-6">
          <label class="control-label" for="crm">Immatriculation :</label>
          <input type="text" class="form-control" id="immat" value="RT-123-44">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="control-label" for="modele">Modele :</label>
        <input type="text" class="form-control" id="modele" value="SERIE 3">
      </div>
      <div class="col-sm-6">
        <label class="control-label" for="mec">Mise en circulation :</label>
        <input type="date" class="form-control" id="mec" value="2018-01-01">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="control-label" for="designation">Désignation :</label>
        <input type="text" class="form-control" id="designation">
      </div>
      <div class="col-sm-6">
          <label class="control-label" for="mda">Mode d'acquisition :</label>
          <input type="text" class="form-control" id="mda">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
          <label class="control-label" for="dateAcquisition">Date d'acquisition :</label>
          <input type="date" class="form-control" id="dateAcquisition" value="2018-01-01">
      </div>
    </div>
  </div>
<!-- 25/05/2018 -->
<br>
<div class="row float-right" >
    <button type="button" class="btn btn-outline-warning" style="border-radius: 8px; margin-right: 10px;" data-toggle="modal" data-target="#idModalRefuser"> Refuser </button>
    <button type="button" class="btn btn-outline-success" style="border-radius: 8px;" data-toggle="modal" data-target="#idModalValider"> Valider </button>
</div>
<!-- The Modal REFUSER -->
<div class="modal fade" id="idModalRefuser">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background-color: transparent;">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
          <div class="link-modal" id="linkmodal"> 
            <button type="button" class="btn btn-primary" (click)="demandeSansEffet()" data-dismiss="modal"> Demande de sans-effet sur le contrat  </button>
          </div>
          <div class="link-modal" id="linkmodal">
            <button type="button" class="btn btn-primary" data-dismiss="modal" > Réaliser un sans-effet sur le contrat  </button>
            </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
      </div>

    </div>
  </div>
</div>

<!-- The Modal  VALDER -->
<div class="modal" id="idModalValider" >
  <div class="modal-dialog modal-dialog-centered modal-lg" >
    <div class="modal-content" style="background-color: transparent;">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" >
          <div class="link-modal" id="linkmodal">
            <div id="info" style="background-color:orange;" *ngIf="ifChangement(crm, date2delivrance)">
              <h4 for="info">Demande d’avenant effectuée avec les informations suivantes : </h4>
              <h5 *ngIf="currentCRM != crm.value" >CRM : {{currentCRM}} <i class="fa fa-arrow-right"></i> {{crm.value}}</h5>
              <h5 *ngIf="currentDate2delivrance != date2delivrance.value" >Date d'obtention du permis : {{currentDate2delivrance| date: 'dd/MM/yyyy'}} <i class="fa fa-arrow-right"></i> {{date2delivrance.value| date: 'dd/MM/yyyy'}}</h5>
            </div>
              <button type="button" class="btn btn-primary" > Demande d’avenant  </button>
        </div>
        <br>
        <div class="link-modal" id="linkmodal">

            <button type="button" class="btn btn-primary" style="text-align:center;"> Réaliser un devis d’avenant </button>
        </div>
        <br>
        <div class="link-modal" id="linkmodal">

            <button type="button" class="btn btn-primary" >Réaliser un avenant </button>
      </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
      </div>

    </div>
  </div>
</div>

