<fieldset id="fieldsetConducteur">
  <legend>Informations Conducteur</legend>
  <div class="form-group">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <label class="control-label" for="crmElementId">CRM :</label>
          <input type="number" class="form-control" step="0.01" min="0.5" max="1" id="crmElementId" value="{{currentCRM}}" #crm>
        </div>
        <div class="row">
          <label class="control-label" for="crm2ElementId">Deuxième CRM :</label>
          <input type="number" class="form-control" step="0.01" min="0.5" max="1" id="crm2ElementId" value="{{currentCRM}}" #crm2>
        </div>
        <div class="row">
          <label class="control-label" for="dateCrm05">Date d'obtention CRM 0,50 :</label>
          <input type="date" class="form-control" step="0.01" min="0.5" max="1" id="dateCrm05" value="">
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-md-4">
            <label for="resp100">Resp.100%</label>
            <input type="number" class="form-control" step="1" min="0" max="100" id="resp100" value="0">
          </div>
          <div class="col-md-4">
            <label for="resp50">Resp.50%</label>
            <input type="number" class="form-control" step="1" min="0" max="100" id="resp50" value="0">
          </div>
          <div class="col-md-4">
            <label for="resp0">Resp.0%</label>
            <input type="number" class="form-control" step="1" min="0" max="100" id="resp0" value="0">
          </div>
        </div>
        <div class="row">
          <label for="vei">Vol et incendie :</label>
          <input type="number" class="form-control" step="0.01" min="0" max="100" id="vei" value="0">
        </div>
        <div class="row">
          <label for="bdg">Bris de glace :</label>
          <input type="number" class="form-control" step="0.01" min="0" max="100" id="bdg" value="0">
        </div>
        <div  class="row">
          <label for="sta">Stationnement :</label>
          <input type="number" class="form-control" step="0.01" min="0" max="100" id="sta" value="0">
        </div>
      </div>
    </div>
  </div>
</fieldset>