<h2>Informations Conducteur</h2>

<div class="form-group">
  <div class="row">
    <div class="col-5">
      <label for="numero">Numéro :</label>
      <input type="text" class="form-control" id="numero" maxlength="15" value="P012345678">
    </div>
    <div class="col-3">
      <label class="control-label" for="crm">CRM :</label>
      <input type="number" class="form-control" step="0.01" min="0.5" max="1" id="crm" value="0.68">
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <label class="control-label" for="categorie">Catégorie :</label>
      <input type="text" class="form-control" id="categorie" value="B">
    </div>
    <div class="col-7">

      <div class="row">
      <div  class="col-md-4">
        <label for="resp100">Resp. 100%</label>
        <input type="number" class="form-control" step="1" min="0" max="100" id="resp100" value="0">
      </div>
      <div  class="col-md-4">
        <label for="resp50">Resp. 50%</label>
        <input type="number" class="form-control" step="1" min="0" max="100" id="resp50" value="0">
      </div>
      <div  class="col-md-4">
        <label for="resp0">Resp. 0%</label>
        <input type="number" class="form-control" step="1" min="0" max="100" id="resp0" value="0">
      </div>
    </div>

    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <label class="control-label" for="date2delivrance">Date de délivrance :</label>
      <input type="date" class="form-control" id="date2delivrance" value="2000-01-01">
    </div>
    <div class="col-md-7" >
      <div class="row">
        <div  class="col-md-6" >
          <label class="control-label" for="crm">Vol et incendie :</label>
          <input type="number" class="form-control" step="0.01" min="0" max="100" id="vei" value="0">
        </div>
        <div  class="col-md-6">
          <label class="control-label" for="crm">Bris de glace :</label>
          <input type="number" class="form-control" step="0.01" min="0" max="100" id="bdg" value="0">
        </div>
    </div>
  </div>

  </div>
  <div class="row">
    <div class="col-5">
      <label class="control-label" for="departement">Département :</label>
      <input type="number" class="form-control" id="departement" value="34">
    </div>
    <div class="col-7">

    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label class="control-label" for="prefecture">Préfecture :</label>
      <input type="text" class="form-control" id="prefecture" value="HERAULT">
    </div>
  </div>
</div>

<h2>Informations Véhicule</h2>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="marque">Marque :</label>
        <input type="text" class="form-control" id="marque" value="BMW">
      </div>
      <div class="col-sm-6">
          <label class="control-label" for="crm">Immatriculation :</label>
          <input type="text" class="form-control" id="immat" value="RT-123-44">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="control-label" for="modele">Modele :</label>
        <input type="text" class="form-control" id="modele" value="SERIE 3">
      </div>
      <div class="col-sm-6">
        <label class="control-label" for="mec">Mise en circulation :</label>
        <input type="date" class="form-control" id="mec" value="2018-01-01">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="control-label" for="designation">Désignation :</label>
        <input type="text" class="form-control" id="designation">
      </div>
      <div class="col-sm-6">
          <label class="control-label" for="mda">Mode d'acquisition :</label>
          <input type="text" class="form-control" id="mda">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
          <label class="control-label" for="dateAcquisition">Date d'acquisition :</label>
          <input type="date" class="form-control" id="dateAcquisition" value="2018-01-01">
      </div>
    </div>
  </div>



