.modal-backdrop {
    background-color:transparent;
  }
  
  .link-modal{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 15px;
  }
  
  
  .link-modal button{
    border: 1px solid #fff;
    color: orange;
    font-family: inherit;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    width: 300px;
  }
  
  .light-blue-backdrop {
    background-color:red;
  }

  .card{
    font-size: 1.3em
}