<div class="align-middle">


  <button type="button" [disabled]="tache.dateCloture != null" class="btn btn-success btn-circle fa fa-check fa-4x" (click)="conforme(alertSuccess)">  </button>
  <button type="button" [disabled]="tache.dateCloture != null" class="btn btn-danger btn-circle fa fa-times  fa-4x" (click)="nonConforme(motif,alertDanger)">  </button>



  <h5>Motif de non conformité : </h5>
  <textarea class="col-sm-12" #motif></textarea>
  <div class="alert alert-danger" role="alert" style="visibility:hidden" #alertDanger></div>
  <div class="alert alert-success" role="alert" style="visibility:hidden" #alertSuccess></div>

  <div id="buttom-content" >
    <button type="button" class="btn btn-primary" style="border-radius: 8px;" (click)="DocSuivant()"> Documment suivant > </button>

    <button type="button" class="btn btn-primary" style="border-radius: 8px;" (click)="goToDashboard()"> Terminer </button>

  </div>


</div>
