<div class="align-middle">


  <button type="button" class="btn btn-success btn-circle fa fa-check fa-4x" >  </button>
  <button type="button" class="btn btn-danger btn-circle fa fa-times  fa-4x">  </button>



  <h5>Motif de non conformité : </h5>
  <textarea class="col-sm-12"></textarea>
  <div id="buttom-content" >
    <button type="button" class="btn btn-primary" style="border-radius: 8px;"> Documment suivant > </button>

    <button type="button" class="btn btn-primary" style="border-radius: 8px;"> Terminer </button>

  </div>


</div>
