<div class="card mb-3 {{card}}" style="max-width: 35rem;">

  <h3>{{titre}}</h3>

  <div class="card-header">

    <div class="float-right">
      <a *ngIf="eye" onclick="alert('Hello word !');" title="Visualiser"> <i class="fa fa-eye pull-xs-right fa-2x"></i></a>
      <i *ngIf="search"class="fa fa-search fa-2x"></i>
      <i *ngIf="share"class="fa fa-share-square-o fa-2x"></i>
      <i *ngIf="inbox"class="fa fa-inbox fa-2x"></i>
      <i *ngIf="calendar"class="fa fa-calendar fa-2x"></i>
      <i *ngIf="file" class="fa fa-file-o fa-2x"></i>
      <i *ngIf="filter" class="fa fa-filter fa-2x"></i>
      <i *ngIf="chart" class="fa fa-pie-chart fa-2x"></i>
      <i *ngIf="refresh" class="fa fa-refresh fa-2x"></i>
      <i *ngIf="trash" class="fa fa-trash-o fa-2x"></i>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Titre</h5>
    <h5>Titre H5 </h5>

    <p class="card-text">description... </p>
  </div>

